body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

li {
  display: block;
}

ul {
  padding-left: 0;
  margin: 0;
}

li:nth-child(odd) {
  background-color: lightgray;
}

.App {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.App > * {
  padding: 10px;
  margin: 0px;
  position: absolute;
  max-width: 900px;
  left: 50%;
  width: 100%;
  height: 100vh;
  transform: translate(-50%, 0);

  display: flex;
  flex-direction: column;
}

.log-notes {
  flex-grow: 1;
  display: flex;
}

.notes {
  flex-grow: 1;
}

.log {
  max-width: 300px;
  overflow-x: hidden;
  float: right;
  height: 90vh;
}

.inputs {
}